<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>后台登录</title>
    <link th:href="@{/css/login.css}" type="text/css" rel="stylesheet">
</head>
<body>

<div class="login">
    <div class="message">home</div>
    <div id="darkbannerwrap"></div>
</body>

</html>